div#hojaprincipal{
  margin: auto;
  background-color: black;
  width: 1300px;
  height: 1800px;
  padding-top: 50px;
}

/* Estilos del encabezado */
div#encabezado{
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: black;
  width: 1050px;
  height: 100px;
  margin: auto;
  padding: 35px;
}

div#logo{
  background-image: url(img2/logo.png);
  background-size: 100% 99%;
  width: 180px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #6C0604;
}

div#enlaces{
  display: flex;
  width: 450px;
  height: 100px;
  margin-right: 80px;
  background-color: black;
  border-radius: 10%;
  justify-content: space-between;
  align-items: center;
  border: solid 4px  inherit;
}

div#menu{
  width: 190px;
  height: 70px;
  background-color: black;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border: solid 4px  #6C0604;
  transition: 0.5s;
}

.m {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

div#menu:hover{
  width: 205px;
  height: 80px;
  background-color: #6C0604;
  border: solid 4px  white;
}

div#inicio{
  width: 190px;
  height: 70px;
  background-color: black;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border: solid 4px  #6C0604;
  transition: 0.5s;
}

.i {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

div#inicio:hover{
  width: 205px;
  height: 80px;
  background-color: #6C0604;
  border: solid 4px  white;
}
/*Terminan estilos del encabezado */

/* Estilos del menu bebidas */
div#bebidassa{
  background-color: inherit;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px  #6C0604;
  border-radius: 5%;
}

.bsa{
  font-size: 40px;
  font-family: sans-serif;
  font-style: oblique;
  color: white;
}

div#mgbebidassa{
  display: flex;
  background-color: #1A1716;
  width: 1100px;
  height: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

div#mbebidassa{
  background-color: #C25A0E;
  width: 370px;
  height: 470px;
  margin: auto;
  display: block;
  justify-content: flex-start;
  padding: 10px;
}

.bebidassa{
  font-size: 21px;
  font-family: cursive;
  margin-top: 20px;
}

div#gbebidassa{
  background-color: #EFEBEB;
  width: 690px;
  height: 490px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.galeria{
  margin-left: -10;
  margin-right: -50px;
  border: 3px solid black;
}

.n1{
  font-size: 16px;
  font-family: cursive;
  font-style: italic;
}

div#bebidasca{
  background-color: inherit;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 4px  #6C0604;
  border-radius: 5%;
}

.bca{
  font-size: 40px;
  font-family: sans-serif;
  font-style: oblique;
  color: white;
}

div#mgbebidasca{
  display: flex;
  background-color: #1A1716;
  width: 1100px;
  height: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


div#mbebidasca{
  background-color: #C25A0E;
  width: 385px;
  height: 480px;
  margin: auto;
  display: block;
  justify-content: flex-start;
  padding: 5px;
}

.bebidasca{
  font-size: 20px;
  font-family: cursive;
  margin-top: 10px;
}

div#gbebidasca{
  background-color: #EFEBEB;
  width: 685px;
  height: 490px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.galeria1{
  margin-left: -10;
  margin-right: -50px;
  border: 3px solid black;
}

.n2{
  font-size: 16px;
  font-family: cursive;
  font-style: italic;
}

/* Terminan estilos del menu bebidas */

/* Estilos del píe de pagina */
div#pie{
  background-color:#1A1716 ;
  width: 1280px;
  height: 140px;
  margin-bottom: 15px;
  margin-top: 170px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

div.datos{
width: 480px;
height: 120px;
background-color: #1A1716;
display: block;
padding: 20px;
align-items: center;
margin-top: -10px;
}

.tdatos{
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

.pdatos{
  font-size: 19px;
  font-family: sans-serif;
  color: white;
}

div.redes{
  width: 690px;
  height: 90px;
  background-color: #1A1716;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tredes{
  color: white;
  font-size: 15px;
  font-family:
}

.cont{
  border-radius: 50%
}
/*terminan estilos del píe de pagina */
