div#hojaprincipal{
  margin: auto;
  background-color: black;
  width: 1300px;
  height: 1850px;
  padding-top: 50px;
}

/* Estilos del encabezado */
div#encabezado{
  align-items: center;
  justify-content: space-between;
  display: flex;
  background-color: inherit;
  width: 1050px;
  height: 90px;
  margin: auto;
  padding: 35px;
}

div#logo{
  background-image: url(img4/logo.png);
  background-size: 100% 99%;
  width: 190px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #6C0604;
}

div#inicio{
  width: 190px;
  height: 70px;
  background-color: black;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
  border: solid 4px  #6C0604;
  transition: 0.5s;
}

.i {
  font-size: 30px;
  font-family: sans-serif;
  color: white;
  text-decoration: none;
}

div#inicio:hover{
  width: 205px;
  height: 80px;
  background-color: #6C0604;
  border: solid 4px  white;
}
/*Se terminan estilos del encabezado */

/* Estilos de las promociones */
div#promociones{
  background-color: inherit;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 630px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border: 4px solid  #6C0604;
}

.p{
  font-size: 38px;
  font-family: cursive;
  font-style: oblique;
  color: white;
}

div#prom1{
  background-color: #E1E1E1;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 990px;
  height: 140px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5%;
  border: 4px solid  #6C0604;
  padding: 5px;
}

.prom1{
  font-size: 30px;
  font-family: sans-serif;
  text-align: justify;
}

.i1{
  border-radius: 10%;
  border: 2px solid black;
}

div#prom2{
  background-color: #E1E1E1;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 4px solid  #6C0604;
  padding: 5px;
}

.prom2{
  font-size: 30px;
  font-family: sans-serif;
  text-align: justify;
}

.i2{
  border-radius: 10%;
  border: 2px solid black;
}
div#prom3{
  background-color: #E1E1E1;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  border: 4px solid  #6C0604;
  padding: 5px;
}

.prom3{
  font-size: 25px;
  font-family: sans-serif;
  text-align: justify;
}

.i3{
  border-radius: 10%;
  border: 2px solid black;
}
/*Se terminan estilos de las promociones */

/* Estilos de las noticias */
div#noticias{
  background-color: inherit;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  border: 4px solid #6C0604;

}

.n{
  font-size: 45px;
  font-family: cursive;
  font-style: oblique;
  color: white;
}

div#cnoticias{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: inherit;
  width: 990px;
  height: 540px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid  #6C0604;
}

div#n1{
  background-color: #E1E1E1;
  width: 460px;
  height: 230px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 20%;
}

.n1{
  font-size: 23px;
  text-align: justify;
  font-family: sans-serif;
}

div#n2{
  background-color: #E1E1E1;
  width: 460px;
  height: 240px;
  padding: 10px;
  border-radius: 20%;
}

.n2{
  font-size: 18px;
  text-align: justify;
  font-family: sans-serif;
}

div#n3{
  background-color: #E1E1E1;
  width: 460px;
  height: 230px;
  margin-right: 20px;
  margin-top: 30px;
  padding: 10px;
  border-radius: 20%;
}

.n3{
  font-size: 25px;
  text-align: justify;
  font-family: sans-serif;
}

div#n4{
  background-color: #E1E1E1;
  width: 480px;
  height: 250px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
}

.n4{
  border-radius: 50%
}
/*Se terminan estilos de las noticias */

/* Estilos del pie de pagina */
div#pie{
  background-color:#1A1716 ;
  width: 1280px;
  height: 140px;
  margin-bottom: 15px;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

div.datos{
width: 480px;
height: 120px;
background-color: #1A1716;
display: block;
padding: 20px;
align-items: center;
margin-top: -10px;
}

.tdatos{
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

.pdatos{
  font-size: 19px;
  font-family: sans-serif;
  color: white;
}

div.redes{
  width: 690px;
  height: 90px;
  background-color: #1A1716;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tredes{
  color: white;
  font-size: 15px;
  font-family:
}

.cont{
  border-radius: 50%
}
/*Se terminan  estilos del pie de pagina */
